@import "colors"

.btn
  background-color: $color-primary
  color: $white
  border: none
  border-radius: 1rem
  padding: 1rem 1.5rem
  cursor: pointer
  transition: background-color 0.2s ease-in-out
  display: flex
  align-items: center
  gap: 1rem

.btn svg
  font-size: 28pt

.btn h1
  margin: 0
  font-size: 22pt
  font-weight: 800

.btn:hover
  background-color: darken($color-primary, 10%)

  h1
    color: darken($white, 10%)
  svg
    color: darken($white, 10%)